*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-size: 14px;
  color: #33545f;
}

a {
  color: #33545f;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}